body,
html {
    height: 100%;
}

.logo-desktop {
    display: none;
}

.about p,
.core-values h2,
.about h2 {
    font-size: 1.2rem;
}

details p,
.about p,
.core-values h2,
.about h2 {
    color: #726a68;
    line-height: 1.8rem;
}

h2 {
    margin: 2rem .5rem 0;
}

details p,
.core-values p,
.about p {
    margin: 1rem .5rem;
}

.header-background {
    background-image: url('../img/texture-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-menu ul {
    background-image: none;
    background-color: transparent;
}
.hero-image {
    background-image: url('../img/about-hero.png');
    padding-bottom: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h1 {
    font-family: 'Barley Script', sans-serif;
    font-weight: normal;
    font-size: 4.5rem;
    color: #df4c3f;
    text-align: center;
    padding: .5rem;
}

.block {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #2b3268;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: bold;
    position: relative;
    top: 1rem;
    left: -6rem;
}
ul {
    list-style-type: none;
}

details p {
    font-size: 1.5rem;
    margin: 1rem;
}

summary {
    background-color: #d6a51d;
    margin: 1rem .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Zilla Slab', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 10% auto;
    grid-column-gap: 1rem;
    padding: .2rem 0 .2rem .5rem;
    align-items: center;
    cursor: pointer;
    max-width: 420px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::before {
    content: url(../img/barley-symbol-35x75.png);
}


@media (min-width: 420px) {
    summary {
        margin: 1rem auto;
    }

    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        display: block;
        width: 75%;
        min-width: 150px;
    }

    .header-background {
        padding: 1rem;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        grid-gap: 3rem;
    }
}
/* START HAMBURGER MENU */
/* Button styling */

.menu-toggle  {
    color: rgba(255,255,255,.9);
    text-shadow: -2px 2px 10px rgba(0,0,0,.2);
    padding: 1rem;
    text-align: right;
    display: inline-block;
    width: 100%;
}


.menu-toggle:hover,
.menu-toggle:focus {
  color: #c00;
}

/*
 Default styles + Mobile first
 Offscreen menu style
*/
.main-menu {
  position: absolute;
  top: -450px;
  left: 0;
  overflow-y: visible;
  overflow-x: visible;
  transition: top 0.3s ease,
              box-shadow 0.3s ease;
  z-index: 999;
  background-image: url('../img/texture-red.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  min-height: 100%;
  width: 100%;
}

.main-menu a {
  display: block;
  padding: .75em 15px;
  line-height: 1em;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/* hamburger menu interactivity */

 .main-menu:target,
.main-menu[aria-expanded="true"] {
  top: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
  box-shadow: 3px 0 12px rgba(0,0,0,.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}
/* END hamburger menu interactivity */
