@charset "UTF-8";
/****** IMPORTANT

This page defines sections that can be found on all pages. ie header & footer

IMPORTANT ******/
@import url("https://fonts.googleapis.com/css?family=Zilla+Slab:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Cookie");
@import url("https://fonts.googleapis.com/css?family=Asap");
@font-face {
  font-family: "Barley Script";
  src: url("../fonts/barleyscript-regular.otf") format("otf"), url("../fonts/barleyscript-regular.woff") format("woff"), url("../fonts/barleyscript-regular.woff2") format("woff2"), url("../fonts/barleyscript-regular.ttf") format("truetype"); }

:root {
  font-size: 16px;
  --blue: #2b3268;
  --orange: #df4c3f;
  --grey: #726a68; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

.visually-hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  display: none; }

.upper {
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  -moz-text-transform: uppercase; }

.footer-button,
button,
input[type=submit] {
  cursor: pointer; }

/****** FONTS ******/
h2, h3 {
  font-family: 'Zilla Slab', serif;
  padding-bottom: 5px;
  text-transform: uppercase; }

h3, h4 {
  font-weight: 600; }

p, button, section a, .info a, .contact h4, .sub input, input[type=button] {
  font-family: 'Asap', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem; }

p, section a, .info a {
  font-weight: 400; }

* a {
  text-decoration: none; }

section a,
footer p a,
.phone,
button,
.info a,
.sub input[type=submit] {
  font-weight: 800;
  color: #edbf41; }

section a:hover,
footer p a:hover,
.info a:hover {
  font-weight: 400;
  text-decoration: underline; }

section a, footer p a, .info a, .navlist {
  text-shadow: -4px 4px 10px rgba(0, 0, 0, 0.4); }

/****** HEADER ******/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden; }

/* SOCIAL ICONS */
.social-media-top-hp {
  display: flex;
  justify-content: flex-end; }

.social {
  padding: 1%;
  display: inline-block; }

.socialicon {
  max-width: 35px; }

/* LOGO */
.headerlogo {
  margin: auto;
  text-align: center;
  padding-bottom: 1%; }

.logo {
  margin: auto; }

/* NAV LIST */
nav {
  width: 100%;
  font-size: 1.3rem; }

nav ul {
  list-style-type: none;
  text-align: center;
  display: flex;
  background-image: url("../img/texture-red.png");
  background-color: #df4c3f;
  flex-direction: column;
  justify-content: space-evenly; }

.navlist {
  text-decoration: none;
  color: white;
  font-family: 'Zilla Slab', serif;
  font-weight: 700;
  display: inline-block; }

a.navlist {
  width: 100%;
  padding: 1rem; }

a.navlist:hover
a.navlist:active {
  color: #df4c3f;
  background-color: rgba(255, 255, 255, 0.9);
  text-shadow: none; }

/****** FOOTER ******/
footer {
  background-color: grey;
  background-image: url("../img/texture-brown.png");
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; }

.footer-button,
button,
.sub input[type=submit],
input[type=button] {
  display: block;
  color: white;
  background-image: linear-gradient(#b52d26, #db493d);
  padding: 1.1rem;
  font-size: 1.2rem;
  border-radius: 4px; }

.footer-button:hover,
button:hover {
  background-image: linear-gradient(#a12822, #c34136);
  text-decoration: none; }

.footer-button {
  text-shadow: none;
  text-align: center;
  max-width: 240px; }

form {
  background-color: white;
  border-radius: 4px; }

/* CONTACT */
.contact, .sub, .portal, .info {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: .5rem;
  padding: 1.5rem;
  line-height: 1.75;
  color: white; }

/* .contact > *, .sub > *, .portal  > *, .info  > *, button {
  margin-top: .5rem;
} */
.contact > h3, .sub > h3, .portal > h3, .info > h3 {
  /* margin-top: 1%; */
  color: rgba(255, 255, 255, 0.68);
  letter-spacing: .2rem;
  font-size: 1.3rem; }

.fla,
.ga,
.email {
  display: inline-block; }

.fla {
  padding: 1rem 2rem 1rem 0; }

.ga,
.email {
  padding: 1rem 0; }

.hide-mobile {
  display: none; }

.info-text,
.info-text p a {
  display: block;
  text-align: center; }

.info-text p a {
  padding: .5rem 0; }

/* SUBSCRIBE */
.sub {
  display: flex;
  flex-wrap: wrap; }

.sub p {
  padding-top: .75rem;
  padding-bottom: 1.5rem; }

.sub form {
  width: 100%;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  align-self: flex-end; }

.sub input[type=text],
.sub input[type=submit] {
  display: inline;
  font-size: 1rem; }

.sub input[type=text] {
  width: calc(70% - .2rem);
  padding: 1.1rem .5rem;
  border-radius: 4px; }

.sub input[type=submit],
input[type=button] {
  background-image: linear-gradient(#bb8c08, #d6a51d);
  width: calc(30% - .05rem);
  border-radius: 0 4px 4px 0;
  padding: 1.1rem .1rem; }

.sub input[type=submit]:hover,
button:hover {
  background-image: linear-gradient(#a67d07, #bf931a); }

/* PORTAL */
.footer-button,
.portal button {
  margin: .75rem auto;
  box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 100%; }

/* COPYRIGHT */
.social-media-footer-hp {
  width: 100%;
  max-width: 360px;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  align-self: normal;
  /* ^^^ to make the icon space out correctly */
  justify-content: space-between; }

/* .socialicon:hover {
    max-width: 36px;
} */
/* MEDIA QUERIES */
@media all and (min-width: 365px) {
  .info p a {
    display: inline-block; }
  .info p a:first-child {
    padding: 0 .7rem 0 0; }
  .info p a:last-child {
    padding: 0 0 0 .7rem; }
  .hide-mobile {
    display: inline-block; }
  .portal {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: auto auto; }
  .portal h3 {
    grid-column: 1 / 2;
    grid-row: 1 / 1; }
  .footer-button,
  .portal button {
    grid-row: 2 / 2; } }

@media all and (min-width: 800px) {
  nav ul {
    flex-direction: row; }
  footer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3 - 20px);
    justify-content: space-evenly;
    justify-items: stretch;
    align-items: stretch;
    padding: 10px; }
  .contact,
  .sub,
  .portal,
  .info {
    width: 100%;
    padding: 1rem;
    margin: 0;
    /* align-self: stretch; */ }
  .contact {
    grid-column: 1 / 1;
    grid-row: 1 / span 2; }
  .fla,
  .ga,
  .email {
    display: block;
    padding: 1rem 0; }
  .sub {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    padding-bottom: 2rem; }
  .portal {
    grid-column: 3 / 3;
    grid-row: 1 / 1; }
  .info {
    grid-column: 2 / span 2;
    grid-row: 2 / 2;
    flex-direction: row;
    flex-flow: wrap; }
  .info {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    align-items: center;
    justify-content: center;
    grid-gap: 10px; }
  .info-text,
  .info-text p a {
    text-align: left; }
  .info-text p:last-child {
    padding-top: 1rem; }
  .info-text {
    padding-left: 1rem; }
  .portal {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer-button,
  .portal button {
    margin: 1rem auto; }
  .social-media-footer-hp {
    max-width: none;
    grid-column: 2 / 2;
    grid-row: 1 / span 2;
    padding-top: 0;
    padding-right: 1rem; }
  .sub form {
    align-self: flex-end; } }

@media all and (min-width: 1300px) {
  footer {
    grid-template-columns: calc(40%) calc(22%) calc(18% - 30px) calc(22% - 30px);
    grid-template-rows: 94%;
    grid-gap: 10px; }
  .contact {
    grid-row: 1 / 1; }
  .info {
    grid-row: 1 / 1;
    grid-column: 4 / 4;
    display: flex;
    align-items: stretch; }
  .footer-button,
  .portal button {
    width: 100%; }
  .fla,
  .ga {
    display: inline-block; }
  .fla {
    padding: 1rem 2rem 1rem 0; }
  .ga {
    padding: 1rem 0; }
  .email {
    padding: 1rem 0; }
  .hide-mobile {
    display: none; }
  .info-text {
    padding-left: 0; }
  .info-text,
  .info-text p a {
    display: block;
    text-align: center; }
  .info-text p a:first-child {
    padding: 1.5rem 0 .5rem 0; }
  .info-text p a:last-child {
    padding: .5rem 0; }
  .social-media-footer-hp {
    align-self: flex-end;
    padding-right: 0; } }

/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.9 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2017, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
@media all {
  html.with-featherlight {
    /* disable global scrolling when featherlights are visible */
    overflow: hidden; }
  .featherlight {
    display: none;
    /* dimensions: spanning the background from edge to edge */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    /* z-index needs to be >= elements on the site. */
    /* position: centering content */
    text-align: center;
    /* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
    white-space: nowrap;
    /* styling */
    cursor: pointer;
    background: #333;
    /* IE8 "hack" for nested featherlights */
    background: transparent; }
  /* support for nested featherlights. Does not work in IE8 (use JS to fix) */
  .featherlight:last-of-type {
    background: rgba(0, 0, 0, 0.8); }
  .featherlight:before {
    /* position: trick to center content vertically */
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  /* contains the content */
  .featherlight .featherlight-inner {
    /* make sure its visible */
    display: block;
    margin: auto; }
  .featherlight-content img {
    width: 100%;
    max-width: 300px;
    margin: auto; }
  .featherlight h3 {
    color: #2b3268;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2.3rem; }
  .brand-place,
  .featherlight p:last-child {
    color: #726a68;
    font-size: 1rem;
    line-height: 1.5rem; }
  .brand-place {
    text-transform: uppercase;
    font-weight: bold; }
  /* don't show these though */
  .featherlight script.featherlight-inner,
  .featherlight link.featherlight-inner,
  .featherlight style.featherlight-inner {
    display: none; }
  .featherlight .featherlight-close-icon {
    /* position: centering vertical and horizontal */
    position: absolute;
    z-index: 9999;
    top: 2rem;
    right: 1rem;
    /* dimensions: 25px x 25px */
    line-height: 50px;
    width: 50px;
    /* styling */
    cursor: pointer;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #fff;
    /* Set the background in case it overlaps the content */
    background: rgba(255, 255, 255, 0.3);
    color: #000;
    border: none;
    padding: 0; }
  /* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .featherlight .featherlight-image {
    /* styling */
    width: 100%; }
  .featherlight-iframe .featherlight-content {
    /* removed the border for image croping since iframe is edge to edge */
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll; }
  .featherlight iframe {
    /* styling */
    border: none; }
  .featherlight * {
    /* See https://github.com/noelboss/featherlight/issues/42 */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }

.featherlight .featherlight-content {
  /* dimensions: maximize lightbox with for small screens */
  max-height: 98%;
  padding: 10px 10px 0;
  border-bottom: 10px solid transparent;
  /* make content container for positioned elements (close button) */
  width: 90%;
  max-width: 854px;
  position: relative;
  margin: auto;
  /* position: centering vertical and horizontal */
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  /* dimensions: cut off images */
  overflow: auto;
  /* styling */
  background: #fff;
  cursor: auto;
  /* reset white-space wrapping */
  white-space: normal; }

@media (min-width: 1024px) {
  /* dimensions: handling large content */
  .featherlight .featherlight-content {
    max-height: 95%;
    border-bottom: none;
    padding-top: 1rem; } }

/* hide non featherlight items when printing */
@media print {
  @page {
    size: landscape; }
  html.with-featherlight > * > :not(.featherlight) {
    display: none; } }

#main-menu-toggle {
  display: block;
  position: absolute;
  top: 120px;
  right: 12px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none; }

#main-menu-toggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 3;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

#main-menu-toggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #df4c3f;
  border-radius: 3px;
  z-index: 2;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#main-menu-toggle span:first-child {
  transform-origin: 0% 0%; }

#main-menu-toggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#main-menu-toggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #ffffff; }

/*
 * But let's hide the middle one.
 */
#main-menu-toggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

/*
 * Ohyeah and the last one should go the other direction
 */
#main-menu-toggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px); }

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 100vw;
  margin: -4.5rem 0 0 0;
  padding: 2rem 1rem 1rem 2rem;
  right: -1rem;
  overflow-y: visible;
  background: #df4c3f;
  background-image: url("../img/texture-red.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }

#main-menu-toggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1; }

a.navlist {
  width: 50%; }

a.navlist:hover {
  text-shadow: none;
  color: #df4c3f;
  background-color: rgba(255, 255, 255, 0.9); }

@media all and (min-width: 420px) {
  .header-background {
    justify-content: flex-end; } }

@media all and (min-width: 500px) {
  .social-media-top-hp {
    background-color: transparent;
    padding-bottom: 0;
    justify-content: flex-end; }
  .headerlogo {
    float: none; }
  #main-menu-toggle {
    top: 1.9rem;
    left: 1.5rem; }
  #menu {
    transform-origin: 100% 0%;
    transform: translate(-100%, 0); }
  .navlist {
    text-align: center; } }

@media all and (min-width: 700px) {
  #main-menu-toggle {
    display: block;
    position: static;
    -webkit-user-select: none;
    user-select: none;
    background: #df4c3f;
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  #main-menu-toggle span {
    display: none; }
  #menu {
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
    overflow-y: visible;
    overflow-x: visible;
    transform: translate(0, 0); }
  a.navlist {
    display: inline-block;
    padding: 1rem 1rem 1.1rem;
    width: 100%;
    margin: 0; }
  .header-background {
    display: block; }
  .header-background {
    padding-bottom: 0; }
  .menu-toggle,
  #main-menu-close {
    display: none; }
  .main-menu {
    position: static; }
  .main-menu ul {
    box-shadow: none;
    align-self: end;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    max-width: 810px;
    margin: auto; }
  .logo-desktop {
    width: 100%;
    padding-bottom: 1rem; } }

/* END NAV STYLES*/
.logo-desktop {
  display: none; }

.logo-mobile {
  display: block;
  width: 100%;
  min-width: 150px;
  max-width: 300px; }

.header-background {
  background-image: url("../img/texture-red.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.main-menu ul {
  background-image: none;
  background-color: transparent; }

.menu-toggle {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: right;
  display: inline-block; }

.menu-toggle:hover,
.menu-toggle:focus {
  color: #dddddd;
  text-shadow: none; }

.main-menu a {
  display: block;
  padding: .75rem 15px;
  line-height: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none; }

.main-menu ul li a {
  border-radius: 4px 4px 0 0; }

.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
  background: rgba(255, 255, 255, 0.9);
  color: #df4c3f;
  text-shadow: none; }

a.current-nav {
  background: white;
  color: #df4c3f;
  text-shadow: none; }

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0; }

@media all and (min-width: 420px) {
  .logo-mobile {
    display: none; }
  .logo-desktop {
    display: block;
    width: 75%;
    min-width: 150px;
    max-width: 300px; }
  .header-background {
    padding: 1rem 1rem 0;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 20% calc(80% - 1rem);
    justify-content: flex-end; } }

@media all and (min-width: 800px) {
  .header-background {
    padding-bottom: 0; }
  .main-menu {
    position: static;
    display: grid;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end; }
  .main-menu ul {
    box-shadow: none;
    align-self: end;
    padding-top: 0; }
  .logo-desktop {
    width: 100%;
    padding-bottom: 1rem; }
  a.navlist {
    font-size: 1rem; } }

@media all and (min-width: 900px) {
  a.navlist {
    font-size: 1.2rem; } }

/* END NAV STYLES*/
.about--page {
  /* hamburger menu interactivity */
  /*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
  /* END NAV STYLES*/ }
  .about--page .logo-desktop {
    display: none; }
  .about--page .logo-mobile {
    display: block;
    width: 100%;
    min-width: 150px;
    max-width: 300px; }
  .about--page .header-background {
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .about--page .main-menu ul {
    background-image: none;
    background-color: transparent; }
  .about--page .menu-toggle {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: right;
    display: inline-block; }
  .about--page .menu-toggle:hover,
  .about--page .menu-toggle:focus {
    color: #dddddd;
    text-shadow: none; }
  .about--page .main-menu {
    position: absolute;
    top: -332px;
    left: 0;
    overflow-y: visible;
    overflow-x: visible;
    transition: top 0.3s ease;
    z-index: 999;
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .about--page .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    width: 100%; }
  .about--page .main-menu a {
    display: block;
    padding: .75rem 15px;
    line-height: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none; }
  .about--page .main-menu ul li a {
    border-radius: 4px 4px 0 0; }
  .about--page .main-menu a:hover,
  .about--page .main-menu a:focus,
  .about--page .main-menu a:active {
    background: rgba(255, 255, 255, 0.9);
    color: #df4c3f;
    text-shadow: none; }
  .about--page a.current-nav {
    background: white;
    color: #df4c3f;
    text-shadow: none; }
  .about--page .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0; }
  .about--page .main-menu:target,
  .about--page .main-menu[aria-expanded="true"] {
    top: 0; }
  .about--page .main-menu:target .menu-close,
  .about--page .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001; }
  .about--page .main-menu:target ul,
  .about--page .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000; }
  .about--page .main-menu:target + .backdrop,
  .about--page .main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    cursor: default; }
  @supports (position: fixed) {
    .about--page .main-menu,
    .about--page .main-menu:target + .backdrop,
    .about--page .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed; } }
  @media all and (min-width: 420px) {
    .about--page .logo-mobile {
      display: none; }
    .about--page .logo-desktop {
      display: block;
      width: 75%;
      min-width: 150px;
      max-width: 300px; }
    .about--page .header-background {
      padding: 1rem 1rem 0;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 20% calc(80% - 1rem);
      justify-content: flex-end; } }
  @media all and (min-width: 800px) {
    .about--page .header-background {
      padding-bottom: 0; }
    .about--page .menu-toggle,
    .about--page #main-menu-close {
      display: none; }
    .about--page .main-menu {
      position: static;
      display: grid;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end; }
    .about--page .main-menu ul {
      box-shadow: none;
      align-self: end;
      padding-top: 0; }
    .about--page .logo-desktop {
      width: 100%;
      padding-bottom: 1rem; }
    .about--page a.navlist {
      font-size: 1rem; } }
  @media all and (min-width: 900px) {
    .about--page a.navlist {
      font-size: 1.2rem; } }
  .about--page body,
  .about--page html {
    height: 100%; }
  .about--page .about,
  .about--page .environment {
    width: 90%;
    max-width: 960px;
    margin: auto; }
  .about--page .core-values {
    width: 90%;
    max-width: 700px;
    margin: auto; }
  .about--page .about p,
  .about--page .core-values h2,
  .about--page .about h2,
  .about--page p {
    font-size: 1.1rem; }
  .about--page details p,
  .about--page .about p,
  .about--page .core-values h2,
  .about--page .about h2,
  .about--page .environment p,
  .about--page .environment h3,
  .about--page #instructions {
    color: #726a68;
    line-height: 1.5; }
  .about--page h2,
  .about--page h3 {
    margin: 2rem .5rem 0; }
  .about--page details p,
  .about--page .core-values p,
  .about--page .about p,
  .about--page .environment p {
    margin: 1rem .5rem; }
  .about--page #instructions {
    font-style: italic;
    text-align: center;
    margin: 0 0 1rem; }
  .about--page .hero-image {
    background-image: url("../img/about-hero.png");
    padding-bottom: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
  .about--page h1 {
    position: relative;
    left: 1.5rem;
    font-family: 'Barley Script', sans-serif;
    font-weight: normal;
    font-size: 4.5rem;
    color: #df4c3f;
    text-align: center;
    padding: 2rem 0 1rem; }
  .about--page .block {
    font-size: 2rem;
    text-transform: uppercase;
    color: #2b3268;
    font-family: 'Zilla Slab', sans-serif;
    font-weight: bold;
    position: relative;
    top: 1rem;
    left: -3rem; }
  .about--page ul {
    list-style-type: none; }
  .about--page summary {
    background-color: #d6a51d;
    margin: 1rem .5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Zilla Slab', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 10% auto;
    grid-column-gap: 1rem;
    padding: .2rem 0 .2rem .5rem;
    align-items: center;
    cursor: pointer;
    max-width: 420px; }
  .about--page summary::-webkit-details-marker {
    display: none; }
  .about--page summary::before {
    content: url(../img/barley-symbol-35x75.png); }
  .about--page .cd-timeline {
    background-color: #eeeeee; }
  .about--page .environment h2 {
    color: white;
    background-color: #8ac658;
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 2rem; }
  @media (min-width: 420px) {
    .about--page summary {
      margin: 1rem auto; } }
  @media (min-width: 800px) {
    .about--page .hero-image {
      padding-bottom: 25%; }
    .about--page .core-values {
      margin-bottom: 2rem; }
    .about--page .core-values ul {
      display: grid;
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25% 25% 25% 25%; }
    .about--page .core-values ul li {
      display: block; }
    .about--page summary {
      margin: 0; } }

.blog--page {
  /* hamburger menu interactivity */
  /*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
  /* END NAV STYLES*/
  /* main h2 {
      color: #2b3268;
      padding: 15px 10px;
  } */
  /* .container h2 {
      max-width: 960px;
      display: block;
      margin: auto;
      color: #2b3268;
      padding: 15px 15px;
  } */
  /* .sidebar input {
      height: 40px;
      width: 75%;
      margin-top: 20px;
      font-size: 1.2em;
      padding: 5px;
      font-family: 'Asap';
      color: #726a68;
  } */
  /*
  .search-button {
      width: 20%;
      height: 40px;
      margin-top: 20px;
      float: right;
      background-image:
      linear-gradient(
         #bb8c08,
         #d6a51d);
  }
  */ }
  .blog--page .logo-desktop {
    display: none; }
  .blog--page .logo-mobile {
    display: block;
    width: 100%;
    min-width: 150px;
    max-width: 300px; }
  .blog--page .header-background {
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .blog--page .main-menu ul {
    background-image: none;
    background-color: transparent; }
  .blog--page .menu-toggle {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: right;
    display: inline-block; }
  .blog--page .menu-toggle:hover,
  .blog--page .menu-toggle:focus {
    color: #dddddd;
    text-shadow: none; }
  .blog--page .main-menu {
    position: absolute;
    top: -332px;
    left: 0;
    overflow-y: visible;
    overflow-x: visible;
    transition: top 0.3s ease;
    z-index: 999;
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .blog--page .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    width: 100%; }
  .blog--page .main-menu a {
    display: block;
    padding: .75rem 15px;
    line-height: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none; }
  .blog--page .main-menu ul li a {
    border-radius: 4px 4px 0 0; }
  .blog--page .main-menu a:hover,
  .blog--page .main-menu a:focus,
  .blog--page .main-menu a:active {
    background: rgba(255, 255, 255, 0.9);
    color: #df4c3f;
    text-shadow: none; }
  .blog--page a.current-nav {
    background: white;
    color: #df4c3f;
    text-shadow: none; }
  .blog--page .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0; }
  .blog--page .main-menu:target,
  .blog--page .main-menu[aria-expanded="true"] {
    top: 0; }
  .blog--page .main-menu:target .menu-close,
  .blog--page .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001; }
  .blog--page .main-menu:target ul,
  .blog--page .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000; }
  .blog--page .main-menu:target + .backdrop,
  .blog--page .main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    cursor: default; }
  @supports (position: fixed) {
    .blog--page .main-menu,
    .blog--page .main-menu:target + .backdrop,
    .blog--page .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed; } }
  @media all and (min-width: 420px) {
    .blog--page .logo-mobile {
      display: none; }
    .blog--page .logo-desktop {
      display: block;
      width: 75%;
      min-width: 150px;
      max-width: 300px; }
    .blog--page .header-background {
      padding: 1rem 1rem 0;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 20% calc(80% - 1rem);
      justify-content: flex-end; } }
  @media all and (min-width: 800px) {
    .blog--page .header-background {
      padding-bottom: 0; }
    .blog--page .menu-toggle,
    .blog--page #main-menu-close {
      display: none; }
    .blog--page .main-menu {
      position: static;
      display: grid;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end; }
    .blog--page .main-menu ul {
      box-shadow: none;
      align-self: end;
      padding-top: 0; }
    .blog--page .logo-desktop {
      width: 100%;
      padding-bottom: 1rem; }
    .blog--page a.navlist {
      font-size: 1rem; } }
  @media all and (min-width: 900px) {
    .blog--page a.navlist {
      font-size: 1.2rem; } }
  .blog--page main {
    max-width: 960px;
    margin: auto; }
  .blog--page h2,
  .blog--page .sidebar h2 {
    font-family: 'Barley Script', sans-serif;
    font-size: 5rem;
    font-weight: normal;
    text-transform: capitalize;
    color: #e35e53;
    position: relative;
    left: 1.3rem;
    /* text-shadow: -5px 5px 20px #898989; */
    z-index: 0;
    text-align: center;
    margin: auto;
    padding: 1rem 0 1.7rem; }
  .blog--page .sidebar h2 {
    font-size: 3.2rem; }
  .blog--page .block {
    font-family: 'Zilla Slab', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #2b3268;
    vertical-align: sub;
    position: relative;
    left: -4.5rem;
    top: -.1rem;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .blog--page .main-post img {
    margin-left: 0;
    display: block;
    margin: auto;
    width: 100%;
    height: auto; }
  .blog--page .main-post-thumb-container {
    position: relative;
    color: white; }
  .blog--page .cat-over-img {
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: 'Asap'; }
  .blog--page .title-over-image {
    position: absolute;
    bottom: 12px;
    left: 16px;
    max-width: 500px; }
  .blog--page .main-post h3, .blog--page .older-post h3 {
    text-transform: none;
    font-size: 2em;
    line-height: 1; }
  .blog--page .main-post h4 {
    font-size: 0.8em; }
  .blog--page .date {
    font-family: 'Zilla Slab';
    font-weight: 400;
    color: #726a68;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .blog--page .main-post p, .blog--page .older-post p, .blog--page .sidebar p {
    font-family: 'Asap';
    color: #726a68;
    line-height: 1.5;
    padding: 15px;
    font-size: 1.1em; }
  .blog--page input.main-read-more-blog {
    background-image: linear-gradient(#bb8c08, #d6a51d);
    width: 90%;
    max-width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 1em; }
  .blog--page input.main-read-more-blog:hover, .blog--page button.more:hover {
    background-image: linear-gradient(#a67d07, #bf931a); }
  .blog--page .older-post {
    max-width: 500px;
    margin: auto; }
  .blog--page .older-thumb-container {
    position: relative;
    color: white;
    max-width: 300px;
    margin: auto;
    margin-top: 50px; }
  .blog--page .older-thumb-container h4 {
    margin-left: 15px; }
  .blog--page .older-post-category {
    position: absolute;
    top: 15px;
    font-family: 'Asap'; }
  .blog--page .older-post-image {
    display: block;
    margin: auto; }
  .blog--page .older-post h3 {
    padding-left: 15px;
    color: #2b3268; }
  .blog--page .sidebar {
    background-color: #2b3268;
    padding: 30px 30px; }
  .blog--page .pagination {
    text-align: center;
    margin: 50px 0; }
  .blog--page .pagination a {
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Asap';
    color: #edbf41;
    font-weight: 800;
    text-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1); }
  .blog--page .pagination a:hover {
    font-weight: 400;
    text-decoration: underline; }
  .blog--page .sidebar h3 {
    color: white;
    letter-spacing: 5px;
    font-size: 1.4em; }
  .blog--page .sidebar ul {
    list-style-type: none;
    line-height: 2; }
  .blog--page .sidebar ul li::before {
    content: "";
    border-color: transparent #df4c3f;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem; }
  .blog--page #search input[type=button] {
    display: block;
    color: white;
    background-image: linear-gradient(#b52d26, #db493d);
    padding: 1.1rem;
    font-size: 1.2rem;
    border-radius: 4px; }
  .blog--page #search input[type=text],
  .blog--page #search input[type=button] {
    display: inline-block;
    font-size: 1rem;
    height: 54px; }
  .blog--page #search input[type=text] {
    width: calc(70% - .2rem);
    padding: 1.1rem .5rem;
    border-radius: 4px;
    position: relative;
    top: -1px; }
  .blog--page #search input[type=button] {
    background-image: linear-gradient(#bb8c08, #d6a51d);
    width: calc(30% - .05rem);
    border-radius: 0 4px 4px 0;
    padding: 1.1rem .5rem;
    cursor: pointer;
    font-weight: bold; }
  .blog--page #search button:hover {
    background-image: linear-gradient(#a67d07, #bf931a); }
  .blog--page .sidebar form {
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    height: 54px; }
  .blog--page .sidebar h2 {
    left: 15; }
  .blog--page .sidebar-title-container {
    background-color: white; }
  .blog--page .featured-brand {
    background-color: white;
    width: 100%;
    margin: auto;
    border: 20px solid #df4c3f;
    padding: 15px; }
  .blog--page .featured-brand h3 {
    color: #2b3268;
    padding-left: 15px; }
  .blog--page .featured-brand h4 {
    font-family: 'Zilla Slab';
    color: #2b3268;
    padding-left: 15px;
    font-weight: 400;
    font-style: italic; }
  .blog--page .sidebar button {
    display: block;
    margin: auto;
    background-image: linear-gradient(#bb8c08, #d6a51d);
    width: 70%; }
  @media all and (min-width: 480px) {
    .blog--page sidebar {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: auto;
      grid-template-areas: "archives categories" "search search" "featured featured"; }
    .blog--page #archives {
      grid-area: archives; }
    .blog--page #categories {
      grid-area: categories; }
    .blog--page #search {
      grid-area: search; }
    .blog--page #featured {
      grid-area: featured; } }

@media all and (min-width: 480px) and (min-width: 768px) {
  .blog--page .main-post h3 {
    font-size: 3em; }
  .blog--page .main-post h4 {
    font-size: 1.1em; }
  .blog--page .older-posts-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px; }
  .blog--page .older-post {
    padding: 15px;
    align-self: start; }
  .blog--page h2.sidebar-title {
    font-size: 4rem;
    padding: 10px 0 10px 20px; }
  .blog--page .block {
    font-size: 2rem; } }

@media all and (min-width: 480px) and (min-width: 960px) {
  .blog--page sidebar {
    display: inline;
    margin-bottom: 20px; }
  .blog--page main {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-column-gap: 20px; }
  .blog--page .older-post-image {
    max-width: 275px; }
  .blog--page .container h2 {
    padding-left: 0; }
  .blog--page sidebar .block {
    font-size: 1.2rem; } }

.careers--page {
  /* hamburger menu interactivity */
  /*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
  /* END NAV STYLES*/
  /* MEDIA QUERIES */ }
  .careers--page .logo-desktop {
    display: none; }
  .careers--page .logo-mobile {
    display: block;
    width: 100%;
    min-width: 150px;
    max-width: 300px; }
  .careers--page .header-background {
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .careers--page .main-menu ul {
    background-image: none;
    background-color: transparent; }
  .careers--page .menu-toggle {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: right;
    display: inline-block; }
  .careers--page .menu-toggle:hover,
  .careers--page .menu-toggle:focus {
    color: #dddddd;
    text-shadow: none; }
  .careers--page .main-menu {
    position: absolute;
    top: -332px;
    left: 0;
    overflow-y: visible;
    overflow-x: visible;
    transition: top 0.3s ease;
    z-index: 999;
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .careers--page .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    width: 100%; }
  .careers--page .main-menu a {
    display: block;
    padding: .75rem 15px;
    line-height: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none; }
  .careers--page .main-menu ul li a {
    border-radius: 4px 4px 0 0; }
  .careers--page .main-menu a:hover,
  .careers--page .main-menu a:focus,
  .careers--page .main-menu a:active {
    background: rgba(255, 255, 255, 0.9);
    color: #df4c3f;
    text-shadow: none; }
  .careers--page a.current-nav {
    background: white;
    color: #df4c3f;
    text-shadow: none; }
  .careers--page .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0; }
  .careers--page .main-menu:target,
  .careers--page .main-menu[aria-expanded="true"] {
    top: 0; }
  .careers--page .main-menu:target .menu-close,
  .careers--page .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001; }
  .careers--page .main-menu:target ul,
  .careers--page .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000; }
  .careers--page .main-menu:target + .backdrop,
  .careers--page .main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    cursor: default; }
  @supports (position: fixed) {
    .careers--page .main-menu,
    .careers--page .main-menu:target + .backdrop,
    .careers--page .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed; } }
  @media all and (min-width: 420px) {
    .careers--page .logo-mobile {
      display: none; }
    .careers--page .logo-desktop {
      display: block;
      width: 75%;
      min-width: 150px;
      max-width: 300px; }
    .careers--page .header-background {
      padding: 1rem 1rem 0;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 20% calc(80% - 1rem);
      justify-content: flex-end; } }
  @media all and (min-width: 800px) {
    .careers--page .header-background {
      padding-bottom: 0; }
    .careers--page .menu-toggle,
    .careers--page #main-menu-close {
      display: none; }
    .careers--page .main-menu {
      position: static;
      display: grid;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end; }
    .careers--page .main-menu ul {
      box-shadow: none;
      align-self: end;
      padding-top: 0; }
    .careers--page .logo-desktop {
      width: 100%;
      padding-bottom: 1rem; }
    .careers--page a.navlist {
      font-size: 1rem; } }
  @media all and (min-width: 900px) {
    .careers--page a.navlist {
      font-size: 1.2rem; } }
  .careers--page main, .careers--page .job--posts, .careers--page .job {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem; }
  .careers--page main {
    width: 90%;
    max-width: 960px;
    grid-gap: 2rem;
    margin: auto;
    padding: 5% 0;
    justify-content: center; }
  .careers--page h1 {
    font-family: 'Barley Script', sans-serif;
    font-weight: normal;
    font-size: 4.5rem;
    color: #df4c3f;
    text-align: center;
    padding: .5rem; }
  .careers--page .title {
    width: 100%; }
  .careers--page .hero-image {
    width: 100%;
    background: url("../img/hero.jpg"), rgba(41, 51, 104, 0.7);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    padding-bottom: 30%;
    background-position: center;
    position: relative; }
  .careers--page h2, .careers--page h3, .careers--page .hero-image p {
    font-family: 'Zilla Slab', serif; }
  .careers--page h2, .careers--page .hero-image p {
    font-weight: 700; }
  .careers--page .hero-image p {
    color: white;
    text-align: center;
    font-size: 1.5rem; }
  .careers--page h2 {
    color: var(--blue);
    font-size: 1.6rem; }
  .careers--page h3 {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--blue); }
  .careers--page .job h4, .careers--page .job ul, .careers--page .benefits ul {
    font-family: 'Asap', sans-serif; }
  .careers--page .job h4, .careers--page main p, .careers--page main ul {
    line-height: 1.7rem;
    color: #726a68; }
  .careers--page .benefits p {
    padding-top: 1.2rem; }
  .careers--page .benefits ul,
  .careers--page .job--req ul,
  .careers--page .job--qual ul {
    padding-left: 1rem; }
  .careers--page .job p, .careers--page .job ul li, .careers--page .benefits p, .careers--page .benefits ul li, .careers--page .culture p {
    font-size: .9rem;
    font-size: 1.1rem; }
  .careers--page .job ul, .careers--page .benefits ul {
    list-style-type: none; }
  .careers--page .job ul li:before, .careers--page .benefits ul li:before {
    content: "";
    border-color: transparent #df4c3f;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem; }
  .careers--page .job ul li, .careers--page .benefits ul li {
    text-indent: 0.1em; }
  .careers--page iframe {
    padding-bottom: 1rem; }
  .careers--page .job {
    border-top: var(--orange) solid 0.35rem; }
  .careers--page .vid--mid, .careers--page .vid--desktop {
    display: none; }
  .careers--page .job--posts {
    grid-gap: 5rem; }
  @media all and (min-width: 600px) {
    .careers--page .vid--mobile, .careers--page .vid--desktop {
      display: none; }
    .careers--page .vid--mid {
      display: inline; } }

@media all and (min-width: 600px) and (min-width: 800px) {
  .careers--page .job--posts button {
    width: 30%; }
  .careers--page .vid--mobile, .careers--page .vid--mid {
    display: none; }
  .careers--page .vid--desktop {
    display: inline; } }

.community--page {
  /* overrides main submit styling */
  /****** EVENT CARDS ******/ }
  .community--page .container {
    width: 90%;
    max-width: 960px;
    margin: auto;
    padding: 5% 0 5% 0;
    grid-gap: 5rem; }
  .community--page .container, .community--page .community, .community--page .events {
    display: grid; }
  .community--page .community {
    grid-template-rows: 103px auto auto 103px;
    grid-gap: 2rem;
    align-items: center; }
  .community--page main p,
  .community--page .cr,
  .community--page .cr a,
  .community--page h3.eventtitle {
    color: #726a68; }
  .community--page main p {
    line-height: 1.5;
    margin-bottom: 15px; }
  .community--page .btn,
  .community--page .eventfoot span,
  .community--page .cr,
  .community--page .cr a {
    font-family: 'Asap', sans-serif; }
  .community--page .hero-image {
    background-image: url("../img/comm1.jpg");
    padding-bottom: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
  .community--page .partnerlogos {
    display: grid;
    grid-template-columns: repeat(auto-fill, 180px);
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    grid-gap: 2.9rem; }
  .community--page .partnerlogos img {
    padding: 0 2rem;
    max-width: 180px; }
  .community--page h2 {
    font-size: 1.5rem;
    color: #24408e;
    vertical-align: sub;
    position: relative;
    left: -2.5rem;
    /* z-index: 1000; */
    text-transform: uppercase;
    text-align: center; }
  .community--page .cursive {
    font-family: 'Barley Script', sans-serif;
    font-size: 3.4rem;
    font-weight: normal;
    text-transform: capitalize;
    color: #e35e53;
    position: relative;
    left: 2.5rem;
    top: -.7rem;
    z-index: -1000; }
  .community--page .btn {
    margin: .75rem auto;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    font-weight: 800;
    color: white;
    padding: 1.1rem;
    font-size: 1.2rem;
    border-radius: 4px;
    background-image: linear-gradient(#bb8c08, #d6a51d); }
  .community--page input[type=button] {
    width: inherit;
    padding: 1.1rem; }
  .community--page .button a {
    display: block;
    text-align: center; }
  .community--page .button a:hover {
    text-decoration: none; }
  .community--page .events {
    grid-gap: 1rem; }
  .community--page .eventcard {
    border: 2px solid #726a68;
    text-align: center; }
  .community--page .eventcard + .eventcard {
    margin-top: 5%; }
  .community--page .eventfoot {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 2% 0 2% 0;
    background-color: #726a68; }
  .community--page .eventfoot span {
    width: 50%;
    color: white;
    font-size: 1.3rem; }
  .community--page h3.eventtitle {
    font-family: 'Zilla Slab', serif;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    padding: 6% 0 6% 0; }
  .community--page .eventimg {
    margin: 5%; }
  .community--page .eventimg img {
    width: 100%; }
  .community--page .cr,
  .community--page .cr a {
    font-size: .7rem; }
  .community--page .cr a {
    text-decoration: underline;
    text-shadow: none;
    font-weight: normal; }
  @media all and (min-width: 700px) {
    .community--page .eventgroup {
      display: flex;
      width: 100%;
      box-sizing: border-box;
      justify-content: space-around; }
    .community--page .eventcard {
      width: calc(100%/3 - 20px);
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    .community--page .eventcard + .eventcard {
      margin-top: 0px; }
    .community--page .eventfoot {
      align-self: flex-end;
      width: 100%; }
    .community--page .btn {
      width: 200px; }
    .community--page .hero-image {
      padding-bottom: 30%; }
    .community--page .cursive {
      font-size: 4.5rem; } }

@media all and (min-width: 700px) and (min-width: 1050px) {
  .community--page .partnerlogos {
    grid-gap: 0.9rem; } }

.contact--page {
  /* hamburger menu interactivity */
  /*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
  /* END NAV STYLES*/
  /****** CONTACT FORM ******/
  /****** CONTACT INFO ******/
  /****** MAIN LAYOUT MEDIA QUERIES ******/ }
  .contact--page .logo-desktop {
    display: none; }
  .contact--page .logo-mobile {
    display: block;
    width: 100%;
    min-width: 150px;
    max-width: 300px; }
  .contact--page .header-background {
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .contact--page .main-menu ul {
    background-image: none;
    background-color: transparent; }
  .contact--page .menu-toggle {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: right;
    display: inline-block; }
  .contact--page .menu-toggle:hover,
  .contact--page .menu-toggle:focus {
    color: #dddddd;
    text-shadow: none; }
  .contact--page .main-menu {
    position: absolute;
    top: -332px;
    left: 0;
    overflow-y: visible;
    overflow-x: visible;
    transition: top 0.3s ease;
    z-index: 999;
    background-image: url("../img/texture-red.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .contact--page .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 2.5em 0 0;
    /* Hide shadow w/ -8px while 'closed' */
    -webkit-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: -8px 0 8px rgba(0, 0, 0, 0.5);
    width: 100%; }
  .contact--page .main-menu a {
    display: block;
    padding: .75rem 15px;
    line-height: 1rem;
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none; }
  .contact--page .main-menu ul li a {
    border-radius: 4px 4px 0 0; }
  .contact--page .main-menu a:hover,
  .contact--page .main-menu a:focus,
  .contact--page .main-menu a:active {
    background: rgba(255, 255, 255, 0.9);
    color: #df4c3f;
    text-shadow: none; }
  .contact--page a.current-nav {
    background: white;
    color: #df4c3f;
    text-shadow: none; }
  .contact--page .main-menu .menu-close {
    position: absolute;
    right: 0;
    top: 0; }
  .contact--page .main-menu:target,
  .contact--page .main-menu[aria-expanded="true"] {
    top: 0; }
  .contact--page .main-menu:target .menu-close,
  .contact--page .main-menu[aria-expanded="true"] .menu-close {
    z-index: 1001; }
  .contact--page .main-menu:target ul,
  .contact--page .main-menu[aria-expanded="true"] ul {
    position: relative;
    z-index: 1000; }
  .contact--page .main-menu:target + .backdrop,
  .contact--page .main-menu[aria-expanded="true"] + .backdrop {
    position: absolute;
    display: block;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    cursor: default; }
  @supports (position: fixed) {
    .contact--page .main-menu,
    .contact--page .main-menu:target + .backdrop,
    .contact--page .main-menu[aria-expanded="true"] + .backdrop {
      position: fixed; } }
  @media all and (min-width: 420px) {
    .contact--page .logo-mobile {
      display: none; }
    .contact--page .logo-desktop {
      display: block;
      width: 75%;
      min-width: 150px;
      max-width: 300px; }
    .contact--page .header-background {
      padding: 1rem 1rem 0;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 20% calc(80% - 1rem);
      justify-content: flex-end; } }
  @media all and (min-width: 800px) {
    .contact--page .header-background {
      padding-bottom: 0; }
    .contact--page .menu-toggle,
    .contact--page #main-menu-close {
      display: none; }
    .contact--page .main-menu {
      position: static;
      display: grid;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end; }
    .contact--page .main-menu ul {
      box-shadow: none;
      align-self: end;
      padding-top: 0; }
    .contact--page .logo-desktop {
      width: 100%;
      padding-bottom: 1rem; }
    .contact--page a.navlist {
      font-size: 1rem; } }
  @media all and (min-width: 900px) {
    .contact--page a.navlist {
      font-size: 1.2rem; } }
  .contact--page .container {
    width: 90%;
    max-width: 960px;
    margin: auto;
    padding: 5% 0 5% 0; }
  .contact--page h2 {
    font-size: 1.5rem;
    color: #24408e;
    vertical-align: sub;
    position: relative;
    left: -2.5rem;
    text-transform: uppercase;
    text-align: center; }
  .contact--page .cursive {
    font-family: 'Barley Script', sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
    text-transform: capitalize;
    color: #e35e53;
    position: relative;
    left: 2.5rem;
    top: -.7rem;
    z-index: -1000; }
  .contact--page label {
    font-family: 'Zilla Slab', serif;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 1.3rem; }
  .contact--page main h4 {
    display: inline-block;
    font-family: 'Zilla Slab', serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1rem;
    font-size: 1.1rem; }
  .contact--page .ga h4, .contact--page .fla h4 {
    color: white; }
  .contact--page label {
    color: #24408e;
    display: block; }
  .contact--page .container p, .contact--page h3, .contact--page h4 {
    color: #726a68; }
  .contact--page .container section p {
    line-height: 1.5em; }
  .contact--page .container section p + .container section p {
    padding-top: 5%; }
  .contact--page main h4 + p {
    display: inline-block; }
  .contact--page article + article {
    border-top: 2px solid #726a68; }
  .contact--page article {
    padding: 7% 0 7% 0; }
  .contact--page .formpiece1 input[type=text],
  .contact--page .formpiece input[type=text],
  .contact--page .formpiece2 input[type=text],
  .contact--page #contactform div span textarea,
  .contact--page .contactinfo section form input[type=text] {
    width: 100%;
    border: 1px solid #726a68;
    font-size: 1.3rem; }
  .contact--page textarea {
    height: 300px;
    resize: vertical; }
  .contact--page .formpiece, .contact--page .formpiece2 {
    padding-top: 5%; }
  .contact--page .radio {
    display: block;
    padding-top: 3%; }
  .contact--page .radio p {
    display: inline-block;
    font-family: 'Zilla Slab', serif;
    font-size: 1.2rem;
    padding-left: 2%; }
  .contact--page input[type=radio] {
    background-color: white;
    border-radius: 50%; }
  .contact--page input[type=submit] {
    cursor: pointer; }
  .contact--page .newssub {
    background-color: white;
    color: #edbf41;
    font-family: 'Asap', sans-serif;
    font-weight: 800;
    font-size: 1.1rem;
    float: right;
    padding-top: 1%;
    border: none; }
  .contact--page #formsubmit {
    margin: .75rem auto;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    font-family: 'Asap', sans-serif;
    font-weight: 800;
    color: white;
    padding: 1.1rem;
    font-size: 1.2rem;
    border-radius: 4px;
    background-image: linear-gradient(#bb8c08, #d6a51d);
    border: none; }
  .contact--page #formsubmit:hover {
    background-image: linear-gradient(#a67d07, #bf931a); }
  .contact--page .contactinfo section + section {
    padding-top: 5%; }
  .contact--page iframe {
    width: 100%;
    height: 300px; }
  .contact--page .infolabel {
    font-weight: 600; }
  @media all and (min-width: 800px) {
    .contact--page .formsection, .contact--page form, .contact--page .formpiece, .contact--page .formpiece1, .contact--page textarea, .contact--page .textme, .contact--page .radiogroup {
      width: 100%;
      box-sizing: border-box; }
    .contact--page .contactinfo {
      width: 40%; }
    .contact--page .container section + section {
      margin-top: 7%; }
    .contact--page .container p + p {
      padding-top: 2%; }
    .contact--page .contactpage {
      display: flex;
      width: 100%;
      padding-top: 3%;
      justify-content: stretch; }
    .contact--page .container article {
      padding-top: 25px; }
    .contact--page .contactinfo {
      padding-right: 3%;
      border-right: 2px solid #726a68;
      order: 0;
      max-width: 300px; }
    .contact--page iframe {
      height: 250px; }
    .contact--page .formsection {
      order: 1;
      padding-left: 3%; }
    .contact--page .container article + article {
      border-top: 0px; }
    .contact--page #formsubmit {
      max-width: 200px;
      float: right; }
    .contact--page .formpiece, .contact--page .formpiece1 {
      display: flex; }
    .contact--page .container input[type=text] {
      padding: 10px; }
    .contact--page .container textarea {
      width: 100%;
      height: 350px; }
    .contact--page .container label {
      margin-right: 4%;
      width: 50%; }
    .contact--page .radio {
      display: inline-block;
      width: calc(100%/3 - 3px); } }
