.container {
  width: 90%;
  max-width: 960px;
  margin:auto;
  padding: 5% 0 5% 0;
}

h2 {
    font-size: 1.5rem;
    color: #24408e;
    vertical-align: sub;
    position: relative;
    left: -2.5rem;
    z-index: 1000;
    text-transform: uppercase;
}
.cursive {
    font-family: 'Barley Script', sans-serif;
    font-size: 4.5rem;
    font-weight: normal;
    text-transform: capitalize;
    color: #e35e53;
    position: relative;
    left: 2.5rem;
    top: -.7rem;
    z-index: -1000;
}

label, h3 {
  font-family: 'Zilla Slab', serif;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem;
  font-size: 1.3rem;
}

main h4 {
  display: inline-block;
  font-family: 'Zilla Slab', serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1rem;
  font-size: 1.1rem;
}

.ga h4, .fla h4 {
  color: white;
}

label {
  color: #24408e;
  display: block;
}

.container p, h3, h4 {
  color: #726a68;
}

p {
  line-height: 1.5em;
}

p + p {
  padding-top: 5%;
}

main h4 + p {
  display: inline-block;
}

article + article {
  border-top: 2px solid #726a68;
}

/****** CONTACT FORM ******/

article {
  padding: 7% 0 7% 0;
}

input[type=text], textarea {
  width: 100%;
  border: 1px solid #726a68;
  font-size: 1.3rem;
  padding: 3%;
}

textarea {
  height: 300px;
  resize: vertical;
}

.formpiece, .formpiece2 {
  padding-top:5%;
}

.radio {
  display: block;
  padding-top: 3%;
}

.radio p {
  display: inline-block;
  font-family: 'Zilla Slab', serif;
  font-size: 1.2rem;
  padding-left: 2%;
}

input[type=radio] {
  background-color: white;
  border-radius: 50%;
}

input[type=submit] {
  cursor: pointer;
}

.newssub {
  background-color: white;
  color: #edbf41;
  font-family: 'Asap', sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  float: right;
  padding-top: 1%;
  border: none;
}

#formsubmit {
  margin: .75rem auto;
  box-shadow: -5px 5px 10px rgba(0,0,0,.3);
  width: 100%;
  font-family: 'Asap', sans-serif;
  font-weight: 800;
  color: white;
  padding: 1.1rem;
  font-size: 1.2rem;
  border-radius: 4px;
  background-image:
  linear-gradient(
     #bb8c08,
     #d6a51d);
  border:none;
}

#formsubmit:hover {
    background-image:
    linear-gradient(
       #a67d07,
       #bf931a);
}

/****** CONTACT INFO ******/

.contactinfo section + section {
  padding-top: 5%;
}

iframe {
  width: 100%;
  height: 300px;
}

.infolabel {
  font-weight: 600;
}

/****** MAIN LAYOUT MEDIA QUERIES ******/

@media all and (min-width: 800px) {
  .formsection, form, .formpiece, .formpiece1, textarea, .textme, .radiogroup {
    width: 100%;
    box-sizing: border-box;
  }

  .contactinfo {
    width: 40%;
  }

  .container section + section {
    margin-top: 7%;
  }

  .container p + p {
    padding-top: 2%;
  }

  .contactpage {
    display: flex;
    width: 100%;
    padding-top: 3%;
    justify-content: stretch;
  }

  .container article {
    padding-top: 25px;
  }

  .contactinfo {
    padding-right: 3%;
    border-right: 2px solid #726a68;
    order: 0;
    max-width: 300px;
  }

  iframe {
    height: 250px;
  }

  .formsection {
    order: 1;
    padding-left: 3%;
  }

  .container article + article {
    border-top: 0px;
  }

  #formsubmit {
    max-width: 200px;
    float: right;
  }

  .formpiece, .formpiece1 {
    display: flex;
  }

  .container input[type=text] {
    padding: 10px;
  }

  .container textarea {
    width: 100%;
    height: 350px;
  }

  .container label {
    margin-right: 4%;
    width: 50%;
  }

  .radio {
    display: inline-block;
    width: calc(100%/3 - 3px);
  }
}

/* START NAV STYLES*/

.logo-desktop {
    display: none;
}

.header-background {
    background-image: url('../img/texture-red.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-menu ul {
    background-image: none;
    background-color: transparent;
}


.menu-toggle  {
    color: rgba(255,255,255,.9);
    text-shadow: -2px 2px 10px rgba(0,0,0,.2);
    padding: 1rem;
    text-align: right;
    display: inline-block;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #dddddd;
  text-shadow: none;
}

.main-menu {
  position: absolute;
  top: -332px;
  left: 0;
  overflow-y: visible;
  overflow-x: visible;
  transition: top 0.3s ease;
  z-index: 999;
  background-image: url('../img/texture-red.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  width: 100%;

}

.main-menu a {
  display: block;
  padding: .75rem 15px;
  line-height: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.main-menu ul li a {
    border-radius: 4px 4px 0 0;
}

.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
  background: rgba(255,255,255,.9);
  color: #df4c3f;
    text-shadow: none;
}

a.current-nav {
    background: white;
    color: #df4c3f;
      text-shadow: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/* hamburger menu interactivity */

.main-menu:target,
.main-menu[aria-expanded="true"] {
  top: 0;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

@media all and (min-width: 420px) {
    .logo-mobile {
        display: none;
    }

    .logo-desktop {
        display: block;
        width: 75%;
        min-width: 150px;
        max-width: 300px;
    }

    .header-background {
        padding: 1rem 1rem 0;
        display: grid;
            grid-gap: 1rem;
            grid-template-columns: 20% calc(80% - 1rem);
        justify-content: flex-end;
    }
}

@media all and (min-width: 800px) {
    .header-background {
                padding-bottom: 0;
    }

    .menu-toggle,
    #main-menu-close {
        display: none;
    }

    .main-menu {
        position: static;
        display: grid;
        justify-content: flex-end;
        align-content: flex-end;
        align-items: flex-end;
    }

    .main-menu ul {
        box-shadow: none;
        align-self: end;
        padding-top: 0;
    }

    .logo-desktop {
        width: 100%;
        padding-bottom: 1rem;
    }

    a.navlist {
        font-size: 1rem;
    }
}

@media all and (min-width: 900px) {
    a.navlist {
        font-size: 1.2rem;
    }
}
/* END NAV STYLES*/
