/****** HOMEPAGE BODY ******/
.carousel,.brand {
  padding: 1.5% 12%;
  line-height: 2;
}

.carousel-hero {
    padding-bottom: 50%;
  background-color: #a9a4a3;
  background-image: url("../img/kegs-homepage.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: row;
}

.carousel-text {
    color: #ffffff;
    padding: 1rem 1rem 0;
    width: 100%;
    align-self: flex-end;
    background-color: rgba(102, 102, 102, 0.70);
    font-size: 1rem;
      line-height: 1.5rem;
}

.carousel-text h2{
  color: #df4c3f;
  font-family: 'Barley Script', sans-serif;
  position: relative;
  top: -1.5rem;
  text-transform: capitalize;
  font-size: 4.5rem;
}

.carousel-text p {
    position: relative;
    top: -1.5rem;
}

.block {
    color: #2b3268;
    font-family: 'Zilla Slab', sans-serif;
    position: relative;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 2rem;
    top: -1rem;

}

.card--team,
.card--brewers,
.card--retail {
    margin: .5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue-cards, .blue-cards section {
  color: white;
  width: 100%;
}

.carousel-img {
    margin: auto;
}

.blue-cards section{
  background-size: cover;
  padding: 2%;
  width: 100%;
  grid-gap: 1rem;
  height: 33vh;
}

nav ul {
    background-color: #df4c3f;
}

.card--team {
    background-image: url("../img/bluecard1.jpg");
}

.card--retail {
    background-image: url("../img/bluecard2.jpg");
}

.card--brewers {
    background-image: url("../img/bluecard3.jpg");
}

/* MEDIA QUERIES */
@media all and (min-width: 800px) {
    .blue-cards {
      display: flex;
      flex-direction: row;
    }
}


/* START NAV STYLES*/
.header-background {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.social-media-top-hp {
    grid-row: 1 / 1;
    grid-column: 1 / span 2;
    justify-content: space-around;
    padding: 1rem;
    background-color: rgba(102, 102, 102, .2);
}

.headerlogo {
    width: 100%;
    grid-row: 2 / 2;
}

.logo {
    width: 100%;
    max-width: 360px;
}

.fa-bars {
        color: #db493d;
}

.menu-toggle {
    align-self: center;
    grid-row: 2 / 2;
}


.main-menu ul {
    background-image: none;
    background-color: transparent;
}


.menu-toggle  {
    color: rgba(255,255,255,.9);
    text-shadow: -2px 2px 10px rgba(0,0,0,.2);
    padding: 1rem;
    text-align: right;
    display: inline-block;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #dddddd;
  text-shadow: none;
}

.main-menu {
  position: absolute;
  top: -336px;
  left: 0;
  overflow-y: visible;
  overflow-x: visible;
  transition: top 0.3s ease;
  z-index: 999;
  background-image: url('../img/texture-red.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 2.5em 0 0;
  /* Hide shadow w/ -8px while 'closed' */
  -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
     -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
          box-shadow: -8px 0 8px rgba(0,0,0,.5);
  width: 100%;

}

.main-menu a {
  display: block;
  padding: .75rem 15px;
  line-height: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}
.main-menu a:hover,
.main-menu a:focus,
.main-menu a:active {
  background: rgba(255,255,255,.9);
  color: #df4c3f;
    text-shadow: none;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 0;
}

/* hamburger menu interactivity */

.main-menu:target,
.main-menu[aria-expanded="true"] {
  top: 0;
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/*
 We could us `.main-menu:target:after`, but
 it wouldn't be clickable.
*/
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  content: "";
  left: 0;
  top: 72;
  width: 100%;
  height: 100%;
  z-index: 998;
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

@media all and (min-width: 420px) {
    .header-background {
        grid-gap: 0;
            grid-template-columns: 80% 20%;
        justify-content: flex-end;
    }
}

@media all and (min-width: 500px) {
    .header-background {
        grid-template-columns: 60% 40%;
    }
    .social-media-top-hp {
        background-color: transparent;
        padding-bottom: 0;
        grid-column: 1 / span 2;
        justify-content: flex-end;
    }
}

@media all and (min-width: 700px) {
    .header-background {
        display: block;
    }

    .header-background {
                padding-bottom: 0;
    }

    .menu-toggle,
    #main-menu-close {
        display: none;
    }

    .main-menu {
        position: static;
    }

    .main-menu ul {
        box-shadow: none;
        align-self: end;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-between;
        max-width: 810px;
        margin: auto;
    }

    .logo-desktop {
        width: 100%;
        padding-bottom: 1rem;
    }

    a.navlist {
        padding: 1.5rem .75rem;
        margin: 0;
    }
}
/* END NAV STYLES*/
