/****** HOMEPAGE BODY ******/
.carousel, .blue-cards, .brand {
  padding: 1.5% 12%;
  line-height: 2.5;
}

.carousel {
  background-color: #a9a4a3;
  color: white;
  display: flex;
  flex-direction: row;
}

.carousel h2{
  color: #2b3268;
}

.carousel-text {
    padding: 1rem;
    width: 66%;
    align-self: flex-end;
}

.blue-cards {
  color: white;
  display: flex;
  flex-direction: column;
}

.blue-cards section{
  background:
    url("../img/champion-logo.png"),
    rgba(41, 51, 104, 0.70);
  background-size: cover;
  padding: 2%;
  margin: 2%;
}

nav ul {
    background-color: #df4c3f;
}

.carousel-text,
.card--team,
.card--retail,
.card--brewers {
    background-color: rgba(255,255,255,.5);
}

/* MEDIA QUERIES */
@media all and (min-width: 800px) {
    .blue-cards {
        flex-direction: row;
    }
}
